/* Dataflow engine states */
:root {
    --dataflow-state-new: #e9e7e7;
    --dataflow-state-initialised: #e9e7e7;
    --dataflow-state-blocked: #f07676;
    --dataflow-state-waiting: #e9e7e7;
    --dataflow-state-processing: yellow;
    --dataflow-state-flowing: yellow; /* Background animates, text stays black */
    --dataflow-state-finished: #64d796;
    --dataflow-state-cancelled: #6D6969; /* Font color dims - background is 'new' */
    --dataflow-state-aborted: #f07676;
    --dataflow-state-finalised: #64d796;
}

.dataflow_invalid_step polygon {
    animation: dataflow_invalid_step 1s ease-out infinite alternate;
}

@keyframes dataflow_invalid_step {
    0% {
        stroke-opacity: 0%;
    }
    100% {
        stroke-opacity: 100%;
    }
}


.dataflow_running_step polygon {
    stroke-dasharray: 7;
    animation: dataflow_running_step 100s linear infinite;
}
@keyframes dataflow_running_step {
    to {
        stroke-dashoffset: 1000;
    }
}

/* Dataflow Run buttons */
.tool_dataflow-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tool_dataflow-actions-bar {
    margin-bottom: 15px;
    float: left;
}
.tool_dataflow-runs-bar {
    margin-bottom: 15px;
    float: right;
}

:where(.tool_dataflow-runs-bar, [id^="dataflow_runs_table"]) a.btn-run-default {
    font-family: monospace;
    background-color: var(--dataflow-state-new);
    color: black;
    border-radius: 0;
}


/* Dataflow 'run' table */
.table-run td {
    padding: 4px 6px;
}

tr:where(.field_timestarted, .field_timefinished) {
    text-align: right;
}

/* Dataflow run button color based on states */
.btn-run-default.run-state-new { background-color: var(--dataflow-state-new); }
.btn-run-default.run-state-initialised { background-color: var(--dataflow-state-initialised); }
.btn-run-default.run-state-blocked { background-color: var(--dataflow-state-blocked); }
.btn-run-default.run-state-waiting { background-color: var(--dataflow-state-waiting); }
.btn-run-default.run-state-processing { background-color: var(--dataflow-state-processing); }
.btn-run-default.run-state-flowing { background-color: var(--dataflow-state-flowing); }
.btn-run-default.run-state-finished { background-color: var(--dataflow-state-finished); }
.btn-run-default.run-state-cancelled { color: var(--dataflow-state-cancelled); background-color: var(--dataflow-state-new); }
.btn-run-default.run-state-aborted { background-color: var(--dataflow-state-aborted); }
.btn-run-default.run-state-finalised { background-color: var(--dataflow-state-finalised); }

/* Group of run statuses considered to be 'running' */
/* Animation adapted from concourse-ci */
:where(.btn-run-default.run-state-processing, .btn-run-default.run-state-flowing) {
    --color-stripe-1: rgb(247, 216, 89);
    --color-stripe-2: rgb(242, 198, 21);
    position: relative;
    background-image: repeating-linear-gradient(
        -115deg,
        var(--color-stripe-1) 0px,
        var(--color-stripe-2) 1px,
        var(--color-stripe-2) 10px,
        var(--color-stripe-1) 11px,
        var(--color-stripe-1) 16px
    );
    background-size: 106px 114px;
    animation: 3s linear 0s infinite normal none running dataflow-running;
}

@keyframes dataflow-running {
    0% { background-position-x: -53.5px; }
    100% { background-position-x: 0; }
}

.tool_dataflow-tags details {
    padding: 0;
    margin: 0 0 0 1em;
    font-family: monospace;
}
.tool_dataflow-tags summary {
    margin: 0;
	padding: 0;
}
.tool_dataflow-tags .leaf {
	margin-left: 2em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tool_dataflow-tags .leaf textarea {
    width: 1px;
    height: 1px;
    opacity: 1%;
}
.tool_dataflow-tags .leaf-text {
    display: inline-block;
    min-width: 12em;
    border-bottom: 1px dashed #ddd;
}
.tool_dataflow-tags .leaf-expression {
    cursor: copy;
}
.tool_dataflow-tags .leaf-value {
    color: #999;
    white-space: nowrap;
    font-size: 87.5%;
}
.tool_dataflow-output {
    background: #111;
    color: #eee;
}
.tool_dataflow-output :hover {
    background: #333;
}
.tool_dataflow-output > * {
    background: #111;
    color: #eee;
    font-size: 1em;
}
