{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_dataflows/tags

    Intermediate step to choose a particular step type before filling out the
    details for it on the step edit form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {
        "name": "env",
        "open": "open",
        "fields": [
            {
                "text": "level2a",
                "expression": "env.level2a",
                "fields": [],
                "leaf": 1
            },
            {
                "text": "level2b",
                "expression": "env.level2b",
                "fields": [
                    {
                        "text": "level3a",
                        "expression": "env.level2b.level3a",
                        "fields": [],
                        "leaf": 1
                    },
                    {
                        "text": "level3b",
                        "expression": "env.level2b.level3b",
                        "fields": [],
                        "leaf": 1
                    }
                ]
            }
        ]
    }
}}

{{^leaf}}
    <details {{open}}>
        <summary>{{name}}</summary>
        {{#fields}}
            {{>tool_dataflows/tags}}
        {{/fields}}
    </details>
{{/leaf}}

{{#leaf}}
    <div class="leaf">
        <span class="leaf-text">{{name}}</span>
        <textarea>{{expression}}</textarea>
        <code class="leaf-expression">{{expression}}</code>
        <span class="leaf-value">{{value}}</span>
    </div>
{{/leaf}}

